.about-boris {
    @include flex-center(column, center);
    height: 400px;
    width: 85vw;
    background: white;
    border-top-left-radius: 40px;

    @include text-holder;

    .logo-holder {
        @include flex-center;
        background: black;
        border: 1px solid transparent;
        border-top-left-radius: 70%;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 50%;
        position: relative;
        top: 0;
        transition: 500ms;

        &:hover {
            top: -10px;
            box-shadow: $defWhiteShadow;
            border: 1px solid white;
            filter: invert(1);
        }

        a {
            text-decoration: none;
            
            img {
                height: auto;
                width: 350px;
            }
        }
    }
}